@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model OrcaStarsWebApplication.ViewModels.ApplicationViewModel
@{
    ViewData["Title"] = "Confirm Page";
}

    <div class="text-center">
        <h1 class="display-4">Confirming</h1>
        <h3>Confirm Owner Information</h3>
        <p><b>Name:</b> @Model.FirstName @Model.LastName </p>
        <p><b>Phone:</b> @Model.PhoneNumber</p>
        <p><b>Email:</b> @Model.Email</p>
        <br />
        <h3>Confirm Business Information</h3>
        <p><b>Name:</b> @Model.BusinessName</p>
        <p><b>Description:</b> @Model.Description</p>
        <p><b>Hours:</b> @Model.Hours</p>
        <p><b>Website:</b> <a href="#website">@Model.Website</a></p>
        <p><b>Social Media:</b> @Model.SocialMedia</p>
        <p><b>Coordinates:</b> @Model.Coordinates</p>
        <p>
            <b>Business Logo:</b>
            <img src="~/images/@Model.BusinessLogo" style="width:300px; height: 300px;" />
        </p>
    </div>