@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model  OrcaStarsWebApplication.ViewModels.SearchResultsViewModel

@{
    ViewData["Title"] = "Search Results";
    Layout = "_Layout";
}

<h3>Search Results</h3>

<div class="alert alert-success" role="alert" style="display: @Model.displayDeleteNotification;">
    The business <b>@Model.deletedBusinessName</b> was deleted from the database.
</div>


<table class="table">
    <tr>
        <th>
            
        </th>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Website
        </th>
        <th>
            City
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var business in Model.businesses)
    {
        <tr>
            <td>
                <img src="~/@business.Logo" style="width: 100px;height: auto;" />
            </td>
            <td>
                @business.Name
            </td>
            <td>
                <!-- Use jQuery AJAX to call our API and get the book count-->
                @business.Category
            </td>
            <td class="rightedge">
                <a target="_blank" href="http://@business.Website">@business.Website</a>
            </td>
            <td class="rightedge">
                @business.City
            </td>
            <td>
                <a asp-action="ConfirmDisplay" asp-controller="Admin"
                   asp-route-id="@business.Id">View |</a>
                <a asp-action="Edit" asp-controller="Admin"
                   asp-route-id="@business.Id">Update |</a>
                <a asp-action="ConfirmDelete" asp-controller="Admin" asp-route-id="@business.Id"})>Delete</a>
            </td>
        </tr>
    }

</table>

<!--<script>
    /*
        jQuery tooltip provides the hover effect,
        AJAX call to '/api/writer/{id}' gets the JSON data
        for the book count for the given author id
     */
    $(function () {
        $(document).tooltip({
            items: "[data-id]",
            content: function () {
                if (this.attributes.length <= 2) {
                    var id = this.attributes["data-id"].nodeValue;
                    /* Call the API */
                    $.getJSON('/api/contact/' + id + '/businesscount/', function (data) {
                        $("[data-id =" + id + "]")
                            .attr('name', 'number of businesses: ' + data.count);
                    });
                }
            }
        });
    });</script>-->
